<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.stencil.mbg.mapper.UsersPlatformMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chen.stencil.mbg.model.UsersPlatform">
        <id column="id" property="id" />
        <result column="users_id" property="usersId" />
        <result column="platform_id" property="platformId" />
        <result column="platform_token" property="platformToken" />
        <result column="type" property="type" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
